<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Research across
        leading Swiss hospitals</h1>
        <p>Connecting cutting-edge diagnostics</p>
      </header>
      <p> SwissPedHealth is building a joint pediatric national data stream to make routine clinical data from pediatric hospitals in Switzerland interoperable, standardized, quality-controlled, and ready for research and trials, health-policy creation, and clinical audits. </p>
      <ul class="actions">
        <li><a href="/about" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <img src="assets/images/cdc-oGJQt3-X_FY-unsplash.jpg" alt="" />
    </span>
  </section>
