<!-- Header -->
<header id="header">
  <div id="header-top">
<!-- <a href="{{ '/' | site.baseurl }}" class="logo"> -->
<!--   <img src="assets/images/logos/SwissPedHealthLogo_trim.png" alt="Logo" width="100" height="100"> -->
<!--   <strong>{{ site.title }}</strong> --> 
<!--   <span class="subtitle">{{ site.subtitle }}</span> -->

    <a href="{{ '/' | site.baseurl }}" class="logo">
      <img src="assets/images/logos/SwissPedHealthLogo_trim.png" alt="Logo" width="100" height="101">
      <div class="title-block">
        <strong>{{ site.title }}</strong>
        <span class="subtitle">{{ site.subtitle }}</span>
      </div>
    </a>

    <ul class="icons"> 
      <li><a href="{{ '/' }}" class="icon"><span class="label">Home</span></a></li>
	  <li><a href="{{ 'about.html' | site.baseurl }}" class="icon"><span class="label">About</span></a></li>
	  <li><a href="{{ '/index.html#news' | site.baseurl }}" class="icon"><span class="label">News</span></a></li>
	  <li><a href="{{ '/index.html#projects' | site.baseurl }}" class="icon"><span class="label">Projects</span></a></li>
	  <!-- <li><a href="{{ '/index.html#contact' | site.baseurl }}" class="icon"><span class="label">Contact</span></a></li> -->
	  <!-- To remove label text for incons, twiter,github,etc: see `.icon > .label` in assets/css/main.css --> 
      <!-- {% if site.github_url %} -->
      <!-- <li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li> -->
      <!-- {% endif %} -->
      <!-- {% if site.linkedin_url %} -->
      <!-- <li><a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li> -->
      <!-- {% endif %} -->
    </ul>
  </div>
</header>

  <!-- <header id="header"> -->
    <!-- <a href="{{ '/' | site.baseurl }}" class="logo"><strong>{{ site.title }}</strong> {{ site.subtitle }} -->
	<!-- </a> -->

    <!-- <ul class="icons"> --> 
    <!--   <li><a href="{{ '/' }}" class="icon"><span class="label">Home</span></a></li> -->
	  <!-- <li><a href="{{ 'about.html' | site.baseurl }}" class="icon"><span class="label">About</span></a></li> -->
	  <!-- <li><a href="{{ '/index.html#news' | site.baseurl }}" class="icon"><span class="label">News</span></a></li> -->
	  <!-- <li><a href="{{ '/index.html#projects' | site.baseurl }}" class="icon"><span class="label">Projects</span></a></li> -->
	  <!-- <li><a href="{{ '/index.html#contact' | site.baseurl }}" class="icon"><span class="label">Contact</span></a></li> -->

	  <!-- <!-1- To remove label text for incons, twiter,github,etc: see `.icon > .label` in assets/css/main.css -1-> --> 
    <!--   <!-1- {% if site.twitter_url %} -1-> -->
    <!--   <!-1- <li><a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li> -1-> -->
    <!--   <!-1- {% endif %} -1-> -->
    <!--   <!-1- {% if site.github_url %} -1-> -->
    <!--   <!-1- <li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li> -1-> -->
    <!--   <!-1- {% endif %} -1-> -->
    <!--   <!-1- {% if site.linkedin_url %} -1-> -->
    <!--   <!-1- <li><a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li> -1-> -->
    <!--   <!-1- {% endif %} -1-> -->
    <!-- </ul> -->
  <!-- </header> -->

	  <div class="logos"style="margin-top:10px; margin-bottom:-30px">
		    <!-- <a href="{{ / }}"> -->
			    <!-- <img src="assets/images/logos/SwissPedHealthLogo.png" alt="Logo image" width="170" height="170" style="text-decoration: none; margin-bottom:0px"/> -->
			    <img src="assets/images/logos/PHRT_Logo_transparent_50px.png" alt="Logo image" width="150" height="38.5" style="text-decoration: none; margin-bottom:0px"/>
			  <!-- </a> -->
		    <!-- <a href="{{ / }}"> -->
			    <img src="assets/images/logos/SPHN-Logo-SIB-Colors-155x111.png" alt="Logo image" width="93" height="66" style="text-decoration: none; margin-bottom:-10px" />
		  <!-- </a> -->
	  </div>
