<!-- Banner -->

  <section id="banner">
    <div class="content">
      <header>
        <h1>Research across
        leading Swiss hospitals</h1>
        <p>Connecting cutting-edge diagnostics</p>
      </header>
      <p> SwissPedHealth is building a joint pediatric national data stream to make routine clinical data from pediatric hospitals in Switzerland interoperable, standardized, quality-controlled, and ready for research and trials, health-policy creation, and clinical audits. </p>
      <ul class="actions">
        <li><a href="/about" class="button big">Learn More</a></li>
      </ul>
    </div>
    <span class="image object">
      <!-- <img src="assets/images/cdc-oGJQt3-X_FY-unsplash.jpg" alt="" /> -->
      <img src="assets/images/logos/logo_picture.jpg" alt="" />
    </span>


    <!-- <div class="container"> -->
    <!--   <div class="img-wrapper"> -->
    <!--     <img src="https://pluspng.com/img-png/switzerland-png-swiss-map-switzerland-map-svizzera-suisse-europe-960.png" alt="Switzerland map"> -->
    <!--   <!-1- <img src="assets/images/cdc-oGJQt3-X_FY-unsplash.jpg" alt="" /> -1-> -->
    <!--     <div class="background"></div> -->
    <!--   </div> -->
    <!--   <div class="animation"> -->
    <!--     <div class="circle"></div> -->
    <!--     <div class="circle"></div> -->
    <!--     <div class="circle"></div> -->
    <!--     <div class="circle"></div> -->
    <!--     <div class="circle"></div> -->
    <!--     <div class="circle"></div> -->
    <!--     <div class="circle"></div> -->
    <!--     <div class="circle"></div> -->
    <!--   </div> -->
    <!-- </div> -->
	<!-- <script src="./assets/js/script.js"></script> -->


  </section>
