<!-- Header -->
  <header id="header">
    <a href="{{ '/' | site.baseurl }}" class="logo"><strong>{{ site.title }}</strong> {{ site.subtitle }}
	</a>


    <ul class="icons"> 
      <li><a href="{{ / }}" class="icon"><span class="label">Home</span></a></li>
	  <li><a href="{{ 'about.html' | site.baseurl }}" class="icon"><span class="label">About</span></a></li>
	  <li><a href="{{ '/#news' | site.baseurl }}" class="icon"><span class="label">News</span></a></li>
	  <li><a href="{{ '/study_overview' | site.baseurl }}" class="icon"><span class="label">Projects</span></a></li>
	  <li><a href="{{ '/#contact' | site.baseurl }}" class="icon"><span class="label">Contact</span></a></li>

	  <!-- To remove label text for incons, twiter,github,etc: see `.icon > .label` in assets/css/main.css --> 
      {% if site.twitter_url %}
      <li><a href="{{ site.twitter_url }}" class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
      {% endif %}
      {% if site.googleplus_url %}
      <li><a href="{{ site.googleplus_url }}" class="icon fa-google-plus" target="_blank"><span class="label">Google+</span></a></li>
      {% endif %}
      {% if site.facebook_url %}
      <li><a href="{{ site.facebook_url }}" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
      {% endif %}
      {% if site.instagram_url %}
      <li><a href="{{ site.instagram_url }}" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
      {% endif %}
      {% if site.pinterest_url %}
      <li><a href="{{ site.pinterest_url }}" class="icon fa-pinterest" target="_blank"><span class="label">Pinterest</span></a></li>
      {% endif %}
      {% if site.500px_url %}
      <li><a href="{{ site.500px_url }}" class="icon fa-500px" target="_blank"><span class="label">500px</span></a></li>
      {% endif %}
      {% if site.gitlab_url %}
      <li><a href="{{ site.gitlab_url }}" class="icon fa-gitlab" target="_blank"><span class="label">GitLab</span></a></li>
      {% endif %}
      {% if site.github_url %}
      <li><a href="{{ site.github_url }}" class="icon fa-github" target="_blank"><span class="label">GitHub</span></a></li>
      {% endif %}
      {% if site.slack_url %}
      <li><a href="{{ site.slack_url }}" class="icon fa-slack" target="_blank"><span class="label">Slack</span></a></li>
      {% endif %}
      {% if site.linkedin_url %}
      <li><a href="{{ site.linkedin_url }}" class="icon fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
      {% endif %}
    </ul>
  </header>


	  <div class="logos"style="margin-top:10px; margin-bottom:-30px">
		    <!-- <a href="{{ / }}"> -->
			    <img src="assets/images/logos/PHRT_Logo_transparent_50px.png" alt="Logo image" width="150" height="38.5" style="text-decoration: none; margin-bottom:0px"/>
			  <!-- </a> -->
		    <!-- <a href="{{ / }}"> -->
			    <img src="assets/images/logos/SPHN-Logo-SIB-Colors-155x111.png" alt="Logo image" width="93" height="66" style="text-decoration: none; margin-bottom:-10px" />
		  <!-- </a> -->
	  </div>
